.main {
  width: 100%;
  max-width: 1440px;
  /* height: 200px; */

  /* display: block; */
}

.main__background {
  width: 100%;
  background-image: url('../../images/background-image.png');

  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
}
