.about {
  display: flex;
  /*  align-items: center; */
  padding: 80px 104px;
}

/* .about__content-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 80px;
  align-items: start;
} */

.about__image {
  border-radius: 1000px;
  max-width: 464px;
  height: 100%;
  margin-right: 56px;
  box-sizing: border-box;
}

.about__text-container {
  max-width: 600px;
  margin-top: 51px;

  /*   margin-left: 56px; */
  color: #1a1b22;

  /* box-sizing: border-box; */
}

.about__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.about__text {
  margin: 24px 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1199px) {
  .about {
    /* padding: 7.813% 5.21%; */
    padding: 5.21%;
  }
  .about__image {
    max-width: 35%;
    min-width: 232px;
    margin: 21px 32px 21px 0;
  }
  .about__title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 819px) {
  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
  .about__text {
    margin-top: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about__text-container {
    margin-top: 0;
    max-width: 424px;
  }
}
