.navigation {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.navigation__link-list {
  padding: 0 0 0;
  list-style: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin: 0;
}

.navigation__link-list-item {
  display: flex;
  align-self: stretch;
  padding: 0 10px;
  box-sizing: border-box;
  margin-right: 10px;
}

.navigation__link-list-item_active {
  border-bottom: 3px solid #ffffff;
}

.navigation__link-list-item_articles {
  padding: 0 32px;
}

.navigation__link-list-item:nth-child(even) {
  margin-left: 32px;
}

.navigation__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
}
