.search-form {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  /* position: relative; */
}

.search-form_shifted-down {
  margin-top: 56px;
}

.search-form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 608px;
}

.search-form__title {
  margin: 0;
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
}

.search-form__subtitle {
  margin-top: 32px;
  margin-bottom: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__form {
  display: flex;
  width: 100%;
  height: 64px;
  margin-top: 88px;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.search-form__input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  border: none;
  margin: 0;
  padding-left: 24px;
  border-radius: 100px;
  box-sizing: border-box;
  flex-grow: 2;
}

.search-form__button {
  background-color: #2f71e5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  border: none;
  width: 168px;
  box-sizing: border-box;
  cursor: url('../../images/cursors/cursor-pointer-hand.svg'), pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 1199px) {
  .search-form {
    padding: 56px 0 60px;
  }
  .search-form__container {
    width: 58.9%;
  }
  .search-form__title {
    font-size: 48px;
    line-height: 52px;
  }
  .search-form__subtitle {
    margin-top: 24px;
  }

  .search-form__form {
    height: 58px;
    margin-top: 64px;
  }

  .search-form__button {
    width: 160px;
  }
}

@media screen and (max-width: 819px) {
  .search-form {
    padding: 38px 0 48px;
  }
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
  }
  .search-form__subtitle {
    margin-top: 16px;
  }
  .search-form__form {
    height: 56px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .search-form__container {
    width: 70%;
  }
}

@media screen and (max-width: 540px) {
  .search-form {
    padding: 30px 16px 32px;
  }
  .search-form__container {
    width: 90%;
  }
}

@media screen and (max-width: 489px) {
  .search-form__container {
    width: 100%;
  }

  .search-form__form {
    flex-direction: column;
    /* height: 64px; */
    height: auto;
    margin-top: 122px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: transparent;
  }
  .search-form__input {
    /* flex-grow: 2; */
    height: 56px;
  }

  .search-form__button {
    width: 100%;
    height: 56px;
    margin-top: 16px;
  }
}
