.preloader {
  margin: 0;
  background-color: #f5f6f7;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.preloader__circle {
  width: 74px;
  height: 74px;
  position: relative;
  display: block;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  border-radius: 50%;
}

.preloader__circle:after,
.preloader__circle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
}

.preloader__circle:before {
  border-radius: 37px 37px 0 0;
  background-image: linear-gradient(
    to right,
    rgba(209, 210, 214, 0.5),
    rgba(26, 27, 34, 1)
  );
}

.preloader__circle:after {
  top: 50%;
  border-radius: 0 0 37px 37px;
  background-image: linear-gradient(
    to right,
    rgba(209, 210, 214, 0.5),
    transparent
  );
}

.preloader__circle-core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 99%;
  width: 99%;
  background: #f5f6f7;
  border-radius: 50%;
}

.preloader__text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 24px auto 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
