.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2); */
  box-sizing: border-box;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  color: #ffffff;
  z-index: 4;
}

.header_dark {
  border-color: #d1d2d6;
}

.header__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: url('../../images/cursors/cursor-pointer-hand.svg'), pointer;
  z-index: 2;
}

.header__title_dark {
  color: #1a1b22;
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 0 5.21%;
    height: 66px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}

@media screen and (max-width: 579px) {
  .header__title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 56px;
    color: #ffffff;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    /* padding: 0; */
    /* background-color: #1a1b22; */
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    /* transition: 0.5s ease; */
  }
  .header_mobile-expanded {
    background-color: #1a1b22;
    /* position: absolute; */
    /* z-index: 1; */
    /* z-index: 100; */
    z-index: 4;
    /* border-bottom: none; */
    position: fixed;
    top: 0;
  }

  .header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
  }

  .header__button {
    background-color: transparent;
    padding: 0;
    border: none;
    background-position: center;
    cursor: url('../../images/cursors/cursor-pointer-hand.svg'), pointer;
  }

  .header__button_menu-open {
    background-image: url('../../images/icons/button-hamburger-menu-icon.svg');
    width: 16px;
    height: 16px;
  }

  .header__button_menu-open_dark {
    background-image: url('../../images/icons/button-hamburger-menu-icon-dark.svg');
  }

  .header__button_menu-close {
    background-image: url('../../images/icons/button-close-icon.svg');
    width: 14px;
    height: 14px;
  }

  .header__title {
    margin: 16px auto 16px 0;
    align-self: flex-start;
  }
  .header {
    height: 56px;
  }
}
