.footer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 0 104px;
  height: 80px;
  align-items: center;
  box-sizing: border-box;
}

.footer__copyright {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  box-sizing: border-box;
  display: block;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .footer {
    padding: 0 5.21%;
    height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 16px;
    height: 64px;
  }
}

@media screen and (max-width: 645px) {
  .footer {
    height: auto;
    flex-direction: column-reverse;
    padding: 22px 16px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__copyright {
    margin-top: 16px;
  }
}
