.news-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 7.223% 5.556%; */
  padding: 0 7.223% 80px;
  background-color: #f5f6f7;
  position: relative;
}

.news-card-list__title {
  align-self: start;
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 5.556% 0 2px 0;
}

.news-card-list__list {
  width: 100%;
  padding: 0;
  margin: 62px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(224px, 1fr));
  gap: 16px;
  list-style: none;
}

.news-card-list__button-more {
  /* background-color: #e8e8e8; */
  background-color: #ffffff;
  border-radius: 80px;
  color: #1a1b22;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 288px;
  height: 54px;
  /* padding: 20px 99px; */
  margin-top: 2px;
  cursor: url('../../images/cursors/cursor-pointer-hand.svg'), pointer;
  transition: 0.3s ease-in-out;
  padding: 0;
}

.news-card-list__button-more:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 1199px) {
  .news-card-list {
    padding: 0 5.2%;
  }
  .news-card-list__title {
    font-size: 38px;
    line-height: 44px;
    margin: 5.2% 0 0 0;
  }

  .news-card-list__button-more {
    margin: 0;
  }
}

@media screen and (max-width: 819px) {
  .news-card-list__list {
    gap: 8px;
    margin: 32px 0;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
  .news-card-list {
    padding: 0 40px;
  }
  .news-card-list__title {
    font-size: 30px;
    line-height: 34px;
    margin-top: 40px;
  }
  .news-card-list__button-more {
    width: 240px;
    height: 56px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-card-list {
    padding: 0 16px 24px;
  }

  .news-card-list__title {
    font-size: 30px;
    line-height: 34px;
    margin-top: 32px;
    margin-bottom: 34px;
  }

  .news-card-list__list {
    gap: 10px;
    margin-top: 24px;
  }

  @media screen and (max-width: 561px) {
    .news-card-list__button-more {
      width: 100%;
    }
  }

  @media screen and (max-width: 490px) {
    .news-card-list__list {
      width: auto;
    }
  }
}
